{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'challenges/challenges.css' %}"/>
{% endblock %}

{% block title %}Monthly challenges{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}
    <h1>This Month`s challenge</h1>
    <ul>
      {% for month in months %}
	<!-- <li><a href="{{month}}">{{month}}</a></li> -->
	<li><a href="{% url "month-challenge" month=month %}">{{month.capitalize}}</a></li> 
      {% endfor %}
    </ul>
{% endblock %}
